@{
    ViewData["Title"] = "ABM";
}
<h2>@ViewData["Title"]</h2>

<button onclick="window.location.href='/Actividad/Create'">Agregar</button>
<button onclick="window.location.href='/Actividad/Delete'">Borrar</button>
<button onclick="window.location.href='/Actividad/Edit'">Modificar</button>